.footer {
  width: 100%;
  text-align: center;
  line-height: 2.0rem;
  margin-bottom:1.0rem;
  a {
    color: $link-color;
  }
}

.legal {
  margin-bottom: .5rem;

  *::before {
    content: "·";
    margin: 0;
    margin-left: .1em;
    margin-right: .3em;
  }

  :first-child::before {
    content: "";
    margin: 0;
  }
}